<form [formGroup]="miFormulario">

    <label for="altura">Altura</label>
    <input type="number" name="altura" class="form-control" formControlName="altura">

    <label for="peso">Peso</label>
    <input type="number" name="peso" class="form-control" formControlName="peso">

    <label for="presion">Presion</label>
    <input type="number" name="presion" class="form-control" formControlName="presion">

    <label for="temperatura">Temperatura</label>
    <input type="number" name="temperatura" class="form-control" formControlName="temperatura">


    <div class="mb-3 mt-3 row">
        <!-- <label class="col-sm-3 col-form-label">Extra</label> -->
        <div class="col-sm-9">
            <div class="input-group">
                <input  class="form-control"
                        [formControl]="nuevoFavoritoKey"
                        placeholder="Agregar Favorito Key"
                        (keyup.enter)="agregarFavorito()">

                <input  class="form-control"
                        [formControl]="nuevoFavoritoValue"
                        placeholder="Agregar Favorito Value"
                        (keyup.enter)="agregarFavorito()">

                <button class="btn btn-outline-primary" 
                        (click)="agregarFavorito()"
                        type="button">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Extras:</label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group mb-1"
                *ngFor="let favorito of favoritosArr.controls; let i = index">
    
                  <input disabled value="{{favorito.value.value}}" class="form-control">
                  <input disabled value="{{favorito.value.key}}" class="form-control">
    
                <button class="btn btn-outline-danger" type="button" (click)="borrar(i)">
                    Eliminar
                </button>
            </div>
    
        </div>
    </div>

    <!-- <div class="row">
        <div class="col">
    
            <span>Valid</span>
            <pre>{{ miFormulario.valid }}</pre>
    
            <span>Value</span>
            <pre>{{ miFormulario.value | json }}</pre>
    
            <span>Pristibe</span>
            <pre>{{ miFormulario.pristine }}</pre>
    
            <span>Touched</span>
            <pre>{{ miFormulario.touched }}</pre>
    
    
        </div>
    </div> -->

</form>

