<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
</ngx-spinner>
<div id="users-container">
    <!-- <div id="users-search-container">
        <h1>Search user:</h1>
        <form>
            <input id="search-input" class="form-control" type="text" [formControl]="filter" />
        </form>
    </div> -->
    <div fxLayout="column"><button class="btn btn-dark" (click)="showForm(form)">NEW ADMIN</button></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fullname</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users$ | async; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <ngb-highlight [result]="user.name + ' ' + user.surname" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="user.age | number" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="user.email" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="user.role" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <button *ngIf="!user.enabled" [disabled]="user.role == 'admin'" (click)="enableUser(user.email)"
                        class="btn btn-success action-btn">Habilitar</button>

                    <button *ngIf="user.enabled" [disabled]="user.role == 'admin'" (click)="disableUser(user.email)"
                        class="btn btn-danger action-btn">Deshabilitar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #form>
        <app-dialog-template [title]="'Create admin'" [isOkButtonEnabled]="true" (okPressed)="onOkPressed($event)">
            <form [formGroup]="adminForm" style="width: 20rem;" (ngSubmit)="onSubmit()">
                <div class="form-group" fxLayout="column" fxLayoutAlign="space-between start">
                    <label for="name">First name</label>
                    <input type="text" name="name" class="form-control" formControlName="name">

                    <label for="surname">Last name</label>
                    <input type="text" name="surname" class="form-control" formControlName="surname">

                    <label for="nationalIdentification">DNI</label>
                    <input type="text" name="nationalIdentification" class="form-control"
                        formControlName="nationalIdentification">

                    <label for="age">Age</label>
                    <input type="number" name="age" class="form-control" formControlName="age">

                    <label for="firstImage">First image</label>
                    <input type="file" name="firstImage" (change)="onFileSelected($event, 1)" class="form-control"
                        formControlName="firstImage">

                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" formControlName="email">

                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" formControlName="password">

                    <input type="text" name="role" class="form-control" formControlName="role" [value]="'admin'" hidden>
                </div>
            </form>
        </app-dialog-template>
    </ng-template>
</div>