<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
</ngx-spinner>
<div id="calendar-container">
    <form>
        <div class="row mb-3">
            <form [formGroup]="filterForm" style="" (ngSubmit)="onSubmit()">
                <label for="speciality">Speciality</label>
                <input type="text" name="speciality" class="form-control" formControlName="speciality" required>

                <label *ngIf="userRole == 'patient' || userRole == 'admin'" for="specialist">Specialist</label>
                <input *ngIf="userRole == 'patient' || userRole == 'admin'" type="text" name="specialist"
                    class="form-control" formControlName="specialist" required>

                <label *ngIf="userRole == 'specialist'" for="patient">Patient</label>
                <input *ngIf="userRole == 'specialist'" type="text" name="patient" class="form-control"
                    formControlName="patient" required>
            </form>
        </div>
    </form>
    <!-- Patient and Admin - ADD APPOINTMENT -->
    <div *ngIf="userRole == 'admin' || userRole == 'patient'" fxLayout="column">
        <button class="btn btn-dark" (click)="showActionForm(createAppointment, '', 'create')">
            ADD APPOINTMENT
        </button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date from</th>
                <th scope="col">Date to</th>
                <th scope="col">Specialist</th>
                <th scope="col">Speciality</th>
                <th scope="col">Patient</th>
                <th scope="col">Status</th>
                <th scope="col">Reason</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointments | async index as i">
                <th scope="row">1</th>
                <td>
                    {{appointment.dateFrom}}
                </td>
                <td>
                    {{appointment.dateTo}}
                </td>
                <td>
                    {{appointment.specialistName}}
                </td>
                <td>
                    {{appointment.speciality}}
                </td>
                <td>
                    {{appointment.patientName}}
                </td>
                <td>
                    {{appointment.status}}
                </td>
                <td>
                    {{appointment.cancellationReason ?? '-'}}
                </td>
                <td>
                    <button
                        *ngIf="appointment.status != 'Cancelled' && appointment.status != 'Rejected' && appointment.status != 'Done' && (userRole == 'admin' || userRole == 'patient')"
                        class="btn btn-success action-btn"
                        (click)="showActionForm(actionAppointment, appointment.id, 'cancel')">
                        Cancel appointment
                    </button>

                    <!-- Patient, Specialist, Admin -->
                    <button
                        *ngIf="appointment.status != 'Cancelled' && appointment.status != 'Rejected' && appointment.status != 'Done' && (userRole == 'specialist')"
                        class="btn btn-success action-btn"
                        (click)="showActionForm(actionAppointment, appointment.id, 'reject')">Reject
                        appointment</button>

                    <!-- Specialist -->
                    <button *ngIf="appointment.status == 'Pending'  && (userRole == 'specialist')"
                        class="btn btn-success action-btn"
                        (click)="showActionForm(actionAppointment, appointment.id, 'accept')">
                        Accept appointment
                    </button>

                    <!-- Specialist -->
                    <button *ngIf="appointment.status == 'Accepted' && userRole == 'specialist'"
                        class="btn btn-success action-btn"
                        (click)="showActionForm(actionAppointment, appointment.id, 'end')">
                        End appointment
                    </button>

                    <!-- Specialist & Patient -->
                    <button *ngIf="appointment.review && (userRole == 'specialist' || userRole == 'patient')"
                        class="btn btn-danger action-btn"
                        (click)="showActionForm(reviewAppointment, appointment.id, 'see-review', appointment.review)">
                        See review
                    </button>

                    <!-- Solamente debe estar visible si el especialista marcó el turno
                    como realizado y dejo la reseña. -->
                    <button
                        *ngIf="appointment.status == 'Done' && appointment.review && userRole == 'patient' && !appointment.survey"
                        class="btn btn-danger action-btn"
                        (click)="showActionForm(surveyAppointment, appointment.id, 'survey')">
                        Survey
                    </button>

                    <!-- Patient -->
                    <button *ngIf="appointment.status == 'Done' && userRole == 'patient'"
                        class="btn btn-danger action-btn"
                        (click)="showActionForm(calificateAppointment, appointment.id, 'calification', '', appointment.calification, appointment.calificationComment)">
                        Calification</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Action forms -->
<ng-template #actionAppointment>
    <app-dialog-template [title]="currentAction | titlecase" [isOkButtonEnabled]=" true"
        (okPressed)="onOkPressed(this.currentAction)">
        <div>
            <form *ngIf="this.currentAction != 'accept'" [formGroup]="statusForm" style="width: 20rem;"
                (ngSubmit)="onSubmit()">
                <label for="reason">Reason</label>
                <input type="text" name="reason" class="form-control" formControlName="reason" required>
            </form>
            <div *ngIf="this.currentAction == 'accept'">Do you want to accept the appointment?</div>
        </div>
    </app-dialog-template>
</ng-template>

<ng-template #reviewAppointment>
    <app-dialog-template [title]="'Review'" [isOkButtonEnabled]=" true" (okPressed)="onOkPressed('')">
        <div>
            <h2>Review:</h2> <br>
            {{this.currentAppointmentReview}}
        </div>
    </app-dialog-template>
</ng-template>

<ng-template #calificateAppointment>
    <app-dialog-template [title]="'Calificate'" [isOkButtonEnabled]=" true" (okPressed)="onOkPressed('calificate')">
        <div style="text-align:center;">
            <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0"
                [readonly]="currentAppointmentCalification != undefined">
            </ngb-rating>
            <hr />

            <form [formGroup]="calificationForm" style="width: 20rem;" (ngSubmit)="onSubmit()">
                <label for="comment">Comments</label>
                <input type="text" name="comment" class="form-control" formControlName="comment" required>
            </form>
        </div>
    </app-dialog-template>
</ng-template>


<ng-template #surveyAppointment>
    <app-dialog-template [title]="'Survey'" [isOkButtonEnabled]=" true" (okPressed)="onOkPressed('survey')">
        <div>
            <form [formGroup]="surveyForm">
                <h3>Was a good experience?</h3>
                <label>
                    <input type="radio" [value]="true" formControlName="wasGoodExperience">
                    <span>Yes</span>
                </label>
                <label>
                    <input type="radio" [value]="false" formControlName="wasGoodExperience">
                    <span>No</span>
                </label>
                <br>
                <br>
                <h3>Would you recommend our service?</h3>
                <label>
                    <input type="radio" [value]="true" formControlName="wouldYouRecommendService">
                    <span>Yes</span>
                </label>
                <label>
                    <input type="radio" [value]="false" formControlName="wouldYouRecommendService">
                    <span>No</span>
                </label>
            </form>
        </div>
    </app-dialog-template>
</ng-template>


<ng-template #createAppointment>
    <app-dialog-template [title]="'Create'" [isOkButtonEnabled]=" true" (okPressed)="onOkPressed('create')">
        <div>
            <!-- Select specialist -->
            <form [formGroup]="addAppointmentForm">
                <br>
                <label for="specialist">Specialist:</label>
                <select class="custom-select" id="specialist" formControlName="specialist"
                    aria-label="Select time from">
                    <option selected>Choose specialist...</option>
                    <option *ngFor="let specialist of specialists$ | async" [value]="specialist.email">
                        {{specialist.email}}
                    </option>
                </select>
                <br>
                <!-- Select speciality -->
                <label for="speciality">Speciality:</label>
                <select class="custom-select" id="speciality" formControlName="speciality"
                    aria-label="Select speciality">
                    <option selected>Choose speciality...</option>
                    <option *ngFor="let speciality of specialities$ | async" [value]="speciality">
                        {{speciality}}
                    </option>
                </select>
                <br>
                <!-- Select Patient -->
                <label for="patient">Patient:</label>
                <select class="custom-select" id="patient" formControlName="patient" aria-label="Select patient">
                    <option selected>Choose patient...</option>
                    <option *ngFor="let patient of patients$ | async" [value]="patient.email">
                        {{patient.email}}
                    </option>
                </select>
                <br>
                <!-- <input type="text" name="speciality" class="form-control" formControlName="day" required> -->
                <label for="days">Schedule appoitnment</label>
                <select class="custom-select" id="days" formControlName="days" aria-label="Select patient">
                    <option selected>Choose day...</option>
                    <option *ngFor="let val of createRange(15)" [value]="val">
                        {{getFullDate(val)}}
                    </option>
                </select>
                <br>
                <label for="from">Select time from</label>
                <select class="custom-select" id="from" formControlName="from" aria-label="Select time from">
                    <option selected>Choose from...</option>
                    <option value="8">8:00</option>
                    <option value="9">9:00</option>
                    <option value="10">10:00</option>
                    <option value="11">11:00</option>
                    <option value="12">12:00</option>
                    <option value="13">13:00</option>
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                    <option value="18">18:00</option>
                    <option value="19">19:00</option>
                </select>

                <br>
                <label for="to">Select time to</label>
                <select class="custom-select" id="inputGroupSelect03" formControlName="to" aria-label="Select time to">
                    <option selected>Choose to...</option>
                    <option value="8">8:00</option>
                    <option value="9">9:00</option>
                    <option value="10">10:00</option>
                    <option value="11">11:00</option>
                    <option value="12">12:00</option>
                    <option value="13">13:00</option>
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                    <option value="18">18:00</option>
                    <option value="19">19:00</option>
                </select>
            </form>
        </div>
    </app-dialog-template>
</ng-template>