<div id="calendar-container">
    <form>
        <div class="row mb-3">
            <div class="mb-3 col">
                <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Specialist:</label>
                <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text" />
                </div>
            </div>
            <div class="mb-3 col">
                <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Speciality:</label>
                <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text" />
                </div>
            </div>
        </div>
    </form>
    <div fxLayout="column"><button class="btn btn-dark">ADD APPOINTMENT</button></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date from</th>
                <th scope="col">Date to</th>
                <th scope="col">Specialist</th>
                <th scope="col">Patient</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    12/11/2022
                </td>
                <td>
                    13/11/2022
                </td>
                <td>
                    Juan Marcos Vallejo
                </td>
                <td>
                    Franco Lippi
                </td>
                <td>
                    Active
                </td>
                <td>
                    <button class="btn btn-success action-btn">Delete appointment</button>

                    <button class="btn btn-danger action-btn">Check out observation</button>
                </td>
            </tr>
            <!-- <tr *ngFor="let user of appointments$ | async; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <ngb-highlight [result]="user.name + ' ' + user.surname" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="user.age | number" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="user.email" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="user.role" [term]="filter.value"></ngb-highlight>
                </td>
                <td>
                    <button *ngIf="!user.enabled" [disabled]="user.role == 'admin'" (click)="enableUser(user.email)"
                        class="btn btn-success action-btn">Habilitar</button>

                    <button *ngIf="user.enabled" [disabled]="user.role == 'admin'" (click)="disableUser(user.email)"
                        class="btn btn-danger action-btn">Deshabilitar</button>
                </td>
            </tr> -->
        </tbody>
    </table>
</div>