<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
</ngx-spinner>
<div id="calendar-container">
    <form>
        <div class="row mb-3">
            <div class="mb-3 col">
                <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Specialist:</label>
                <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text" />
                </div>
            </div>
            <div class="mb-3 col">
                <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Speciality:</label>
                <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text" />
                </div>
            </div>
        </div>
    </form>
    <div fxLayout="column"><button class="btn btn-dark">ADD APPOINTMENT</button></div> <!-- Patient and Admin -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date from</th>
                <th scope="col">Date to</th>
                <th scope="col">Specialist</th>
                <th scope="col">Patient</th>
                <th scope="col">Status</th>
                <th scope="col">Reason</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appointment of appointments | async index as i">
                <th scope="row">1</th>
                <td>
                    {{appointment.dateFrom}}
                </td>
                <td>
                    {{appointment.dateTo}}
                </td>
                <td>
                    {{appointment.specialist}}
                </td>
                <td>
                    {{appointment.patientEmail}}
                </td>
                <td>
                    {{appointment.status}}
                </td>
                <td>
                    {{appointment.cancellationReason ?? '-'}}
                </td>
                <td>
                    <button
                        *ngIf="appointment.status != 'Cancelled' && appointment.status != 'Rejected' && appointment.status != 'Done' && (userRole == 'admin' || userRole == 'patient')"
                        class="btn btn-success action-btn"
                        (click)="showActionForm(actionAppointment, appointment.id, 'cancel')">
                        Cancel appointment
                    </button>

                    <!-- Patient, Specialist, Admin -->
                    <button
                        *ngIf="appointment.status != 'Cancelled' && appointment.status != 'Rejected' && appointment.status != 'Done' && (userRole == 'specialist')"
                        class="btn btn-success action-btn"
                        (click)="showActionForm(actionAppointment, appointment.id, 'reject')">Reject
                        appointment</button>

                    <!-- Specialist -->
                    <button *ngIf="appointment.status == 'Pending'  && (userRole == 'specialist')"
                        class="btn btn-success action-btn"
                        (click)="showActionForm(actionAppointment, appointment.id, 'accept')">
                        Accept appointment
                    </button>

                    <!-- Specialist -->
                    <button *ngIf="appointment.status == 'Accepted' && userRole == 'specialist'"
                        class="btn btn-success action-btn"
                        (click)="showActionForm(actionAppointment, appointment.id, 'end')">
                        End appointment
                    </button>

                    <!-- Specialist & Patient -->
                    <button *ngIf="appointment.review && (userRole == 'specialist' || userRole == 'patient')"
                        class="btn btn-danger action-btn"
                        (click)="showActionForm(reviewAppointment, appointment.id, 'see-review', appointment.review)">
                        See review
                    </button>

                    <!-- Solamente debe estar visible si el especialista marcó el turno
                    como realizado y dejo la reseña. -->
                    <button *ngIf="appointment.status == 'Done' && appointment.review && userRole == 'patient'"
                        class="btn btn-danger action-btn"
                        (click)="showActionForm(surveyAppointment, appointment.id, 'survey')">
                        Survey
                    </button>

                    <!-- Patient -->
                    <button *ngIf="appointment.status == 'Done' && userRole == 'patient'"
                        class="btn btn-danger action-btn"
                        (click)="showActionForm(calificateAppointment, appointment.id, 'calification', '', appointment.calification, appointment.calificationComment)">
                        Calification</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Action forms -->
<ng-template #actionAppointment>
    <app-dialog-template [title]="currentAction | titlecase" [isOkButtonEnabled]=" true"
        (okPressed)="onOkPressed(this.currentAction)">
        <div>
            <form *ngIf="this.currentAction != 'accept'" [formGroup]="statusForm" style="width: 20rem;"
                (ngSubmit)="onSubmit()">
                <label for="reason">Reason</label>
                <input type="text" name="reason" class="form-control" formControlName="reason" required>
            </form>
            <div *ngIf="this.currentAction == 'accept'">Do you want to accept the appointment?</div>
        </div>
    </app-dialog-template>
</ng-template>

<ng-template #reviewAppointment>
    <app-dialog-template [title]="'Appointment review'" [isOkButtonEnabled]=" true" (okPressed)="onOkPressed('cancel')">
        <div>
            <h2>Review:</h2> <br>
            {{this.currentAppointmentReview}}
        </div>
    </app-dialog-template>
</ng-template>

<ng-template #calificateAppointment>
    <app-dialog-template [title]="'Appointment calification'" [isOkButtonEnabled]=" true"
        (okPressed)="onOkPressed('calificate')">
        <div style="text-align:center;">
            <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0"
                [readonly]="currentAppointmentCalification != undefined">
            </ngb-rating>
            <hr />

            <form [formGroup]="calificationForm" style="width: 20rem;" (ngSubmit)="onSubmit()">
                <label for="comment">Comments</label>
                <input type="text" name="comment" class="form-control" formControlName="comment" required>
            </form>
        </div>
    </app-dialog-template>
</ng-template>


<ng-template #surveyAppointment>
    <app-dialog-template [title]="'Appointment review'" [isOkButtonEnabled]=" true" (okPressed)="onOkPressed('cancel')">
        <div>
            TODO : SURVEY.
        </div>
    </app-dialog-template>
</ng-template>