<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="false">
</ngx-spinner>
<div id="user-info-container">
    <h1>User profile:</h1>
    <br>
    <b>Name: {{(this.currentUser | async)?.name | titlecase}}</b><br>
    <b>Lastname: {{(this.currentUser | async)?.surname | titlecase}}</b><br>
    <b>Email: {{(this.currentUser | async)?.email}}</b><br>
    <b>Role: {{(this.currentUser | async)?.role | titlecase}}</b><br>
    <b>Age: {{(this.currentUser | async)?.age}}</b>
    <br>
    <div>
        <!-- Image 1 -->
        <b>First image:</b><br>
        <img *ngIf="(this.currentUser| async)" alt="" [src]="(this.currentUser| async)?.firstImage"
            style="height: 3rem;" srcset="">
    </div>
    <div>
        <!-- Image 2 -->
        <b>Second image:</b><br>

        <img *ngIf="(this.currentUser| async)" [src]="(this.currentUser| async)?.secondImage" style=" height: 3rem;"
            srcset="">
    </div>
</div>

<br>
<br>
<div *ngIf="(this.userRole$ |async) == 'specialist'">
    <h2>Time Availability:</h2>
    <!-- Marcar disponibilidad horaria: Desde, hasta, especialidad -->
    <!-- Especialidad -> Disponibilidad (Horario desde - Horario hasta) -->

    <!-- Time availability for existing specialities (both, main and extra especialities...) -->
    <div *ngFor="let slot of timeAvailability | async index as i">
        <hr>
        <div>
            {{slot.speciality}}
            <span *ngIf="slot.timeFrom else notAvailable">
                - {{slot.timeFrom.hours}}hs to
                {{slot.timeTo.hours}}hs - <button class="btn btn-dark"
                    (click)="onAddTimeAvailability(setAvailability, i, slot.speciality)">Update time
                    availability.</button>
            </span>
        </div>
        <ng-template #notAvailable>
            - Time was not set - <button class="btn btn-dark"
                (click)="onAddTimeAvailability(setAvailability, i, slot.speciality)">Set
                time availability.</button>
        </ng-template>

    </div>

</div>

<ng-template #setAvailability>
    <app-dialog-template [title]="'Set availability'" [isOkButtonEnabled]=" true"
        (okPressed)="onOkPressed('availability')">
        <div>
            <form [formGroup]="availabilityForm">
                Speciality: {{'TODO'}}
                <br>
                <select class="custom-select" id="from" formControlName="from" aria-label="Select time from">
                    <option selected>Choose from...</option>
                    <option value="8">8:00</option>
                    <option value="9">9:00</option>
                    <option value="10">10:00</option>
                    <option value="11">11:00</option>
                    <option value="12">12:00</option>
                    <option value="13">13:00</option>
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                    <option value="18">18:00</option>
                    <option value="19">19:00</option>
                </select>

                <select class="custom-select" id="inputGroupSelect03" formControlName="to" aria-label="Select time to">
                    <option selected>Choose to...</option>
                    <option value="8">8:00</option>
                    <option value="9">9:00</option>
                    <option value="10">10:00</option>
                    <option value="11">11:00</option>
                    <option value="12">12:00</option>
                    <option value="13">13:00</option>
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                    <option value="18">18:00</option>
                    <option value="19">19:00</option>
                </select>
            </form>
        </div>
    </app-dialog-template>
</ng-template>