.nav-container {
    background-color: #24252a;
    height: -webkit-fill-available;
}

#logo {
    margin-left: 1rem;
}

h1 {
    color: white;
}

fa-icon {
    color: white;
    margin-right: 1rem;
}

div.vertical-line {
    width: 1px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    float: left;
    height: 3rem;
    margin: 1rem;
}