<div class="landing-container" fxLayout="column" fxLayoutAlign="center center">
    <!-- Features -->
    <div class="" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.xs-="center end">
        <div fxLAyout="column">
            <div class="card">
                <div class="card-header">
                    <fa-icon class="" [icon]="nurseIcon" [size]="iconSize">
                    </fa-icon>
                </div>
                <div class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae vel, eaque alias
                    consequuntur quisquam cum in quod odit at distinctio porro ratione pariatur rerum laborum nam, ullam
                    corrupti nisi nulla!</div>
            </div>
            <div class="card">
                <div class="card-header">
                    <fa-icon class="" [icon]="doctorIcon" [size]="iconSize">
                    </fa-icon>
                </div>
                <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus architecto
                    harum quae. Ullam optio, quod laborum recusandae porro enim omnis soluta ex rem accusamus nostrum
                    assumenda asperiores at quae officiis.</div>
            </div>
        </div>
        <div fxLAyout="column">
            <div class="card">
                <div class="card-header">
                    <fa-icon class="" [icon]="heartIcon" [size]="iconSize">
                    </fa-icon>
                </div>
                <div class="card-body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nihil quia ex
                    labore. Impedit tenetur dolorum adipisci! Voluptatum eligendi eveniet culpa sit. Magnam, nulla. A
                    quam excepturi maiores reiciendis nulla?</div>
            </div>
            <div class="card">
                <div class="card-header">
                    <fa-icon class="" [icon]="userGearIcon" [size]="iconSize">
                    </fa-icon>
                </div>
                <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi tempore sequi
                    ducimus porro omnis quisquam aliquid, eaque earum a id facilis? Tempora sequi asperiores dolores
                    odio voluptatibus temporibus totam consequuntur?</div>
            </div>
        </div>
        <div fxLAyout="column">
            <div class="card">
                <div class="card-header">
                    <fa-icon class="" [icon]="nurseIcon" [size]="iconSize">
                    </fa-icon>
                </div>
                <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, modi. Soluta
                    omnis voluptatibus et quia dolores officia cum, accusantium voluptates magni earum amet ad impedit
                    culpa inventore natus facilis unde.</div>
            </div>
            <div class="card">
                <div class="card-header">
                    <fa-icon class="" [icon]="nurseIcon" [size]="iconSize">
                    </fa-icon>
                </div>
                <div class="card-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum natus pariatur
                    asperiores similique eligendi quo in quibusdam exercitationem voluptatum? Adipisci accusantium eius
                    at facilis quo id ipsa incidunt quae totam?</div>
            </div>
        </div>
    </div>

    <!-- Sign up button row -->
    <!-- <div id="btnTry" fxLayout="row" fxLayoutAlign="space-around center">
        <button class="btn btn-clinic-secondary">TRY IT FOR FREE</button>
    </div> -->
</div>