<footer>
    <div class="footer-container" fxLayout="row" fxLayoutAlign="start center">
        <div id="copyright-container" fxLayout="row" fxLayoutAlign="start center">
            <!-- Site title -->
            <small placement="top" ngbTooltip="Clinic v1.0.0">Powered by Juan Marcos Vallejo</small>
            <div class="vertical-line"></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <!-- Action buttons -->
            <button style="text-decoration: none;" type="button" class="btn btn-link">Legal</button>

            <button style="text-decoration: none;" type="button" class="btn btn-link">FAQs</button>

            <button style="text-decoration: none;" type="button" class="btn btn-link">Contact us</button>
        </div>
    </div>
</footer>