.card {
    cursor: pointer;
    margin: 2rem;
    padding: 2rem;
    border: 0px;
    text-align: center;
    box-shadow: 5px 10px #000000;
}

.card-header{
    background-color: transparent;
    border-bottom: 0px;
}

fa-icon {
    background-color: transparent;
}

#cards-container {
    margin-top: 8%;
}

.card:hover {
    background-color: #B10F2E;
}

#sign-up-container {}